.local/

binary/
binary*.iso
binary*.img
binary*.tar*
binary*.contents
binary*.packages
binary*.zsync

.build/
build.log

cache/

chroot/
chroot.files
chroot.packages.*

config/binary
config/bootstrap
config/build
config/chroot
config/common
config/source

config/control

config/includes.installer/preseed.cfg

live-image-*.iso
live-image-*.img
live-image-*.tar*
live-image-*.contents
live-image-*.files
live-image-*.packages
live-image-*.zsync

source/
source*.iso
source*.img
source*.tar*
source*.contents
source*.packages
source*.zsync
